
header {
    background-color: rgb(209, 236, 226);
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
   
}

main {
    min-height: 900px;
    padding: 100px;
    background-color: rgb(235, 245, 241);
    font-family:Georgia, 'Times New Roman', Times, serif; 
}


.button{
    padding: 30px;
    height: 220px;
    width: 210px;
    margin: 20px;
    background-color: rgb(250, 230, 206);
    border-radius: 10px;
    border: 2px solid rgb(233, 218, 200);
    word-wrap: break-word;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: larger;
    display:inline-flex;
}

.button:hover{
    background-color:  rgb(209, 236, 226);
    border: 2px solid rgb(233, 218, 200);
    transform: scale(1.1, 1.1);
    
}


div {
 font-size: x-large;
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 20px;
 word-wrap: break-word;
 

}

.box {
   border: 2px solid lightgray;
   border-radius: 10px;
   border-collapse: collapse;
   margin: 40px;
   background-color:rgb(248, 236, 219);

}

ul{
    list-style:none
   
}


section  {
   background-color: blanchedalmond;
   
}


.invisible{
    display: none;
}

.setWidth{
    width: 80%;
    border: 2px solid rgb(220, 238, 235);
    background-color: rgb(230, 238, 236);
    border-radius: 10px;
}